*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    background-color: azure;
}
.popup{
    width: 400pX;
    height: 400px;
    background-color: aquamarine;
}